#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.APISelector {
  flex: 1;
}

.ban-container {
  flex: 0 0 30%;
  overflow-y: scroll;
}